{% extends 'base.html' %} 

{% block center %}
<body>
    <h1>{{reserva.nome_empresa}}</h1>
    
    {% if reserva.quitado %}        
    <h3>A <span style="color: rgba(147, 205, 246, 0.835);">{{reserva.nome_empresa}}</span> é uma empresa que proporciona um servio de <span style="color: rgba(147, 205, 246, 0.835);">{{reserva.categoria_empresa}}</span> <br> A sua situação na FINECAP é de: </h3>
    <h3 style="color: rgb(169, 221, 141);">Presença Confirmada</h3>
    {% else %}
    <h3>A <span style="color: rgba(147, 205, 246, 0.835);">{{reserva.nome_empresa}}</span> é uma empresa que proporciona um servio de <span style="color: rgba(147, 205, 246, 0.835);">{{reserva.categoria_empresa}}</span> <br> A sua situação na FINECAP é de: </h3>
    <h3 style="color: rgb(221, 141, 141);">Ainda precisa confirmar a presença</h3>
    {% endif %}
</body>
{% endblock center %}
    