{% extends 'base.html' %}

{% block center %}
<style>
    
    .form-container {
        max-width: 500px;
        margin: auto;
    }

    button{
        border-color: aliceblue;
        border-radius: 40px;
        background-color: transparent;
        color:aliceblue;;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
        height: auto;
        max-width: 500px;
        margin: auto;
    }

    form {
        padding: 40px;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 0.026);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }
    
    input[type="text"] {
    background-color: #f8f8f8;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    width: 250px;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

</style>

<div class="form-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="cnpj" class="form-label">CNPJ</label><br>
            <div class="formlabel">{{ form.cnpj }}</div>
        </div>
        <div class="form-group">
            <label for="nome_empresa" class="form-label">Nome da Empresa</label><br>
            <div class="formlabel">{{ form.nome_empresa }}</div>
        </div>


        <div class="form-group">
            <label for="categoria_empresa" class="form-label">Categoria da Empresa</label><br>
            <div class="formlabel">{{ form.categoria_empresa }}</div>
        </div>
        <div class="form-group">
            <label for="quitado" class="form-label">O valor foi quitado?</label><br>
            <div class="formlabel">{{ form.quitado }}</div>
        </div>
        <div class="form-group">
            <label for="stand_escolha" class="form-label">Qual o stand?</label><br>
            {{ form.stand_key }}
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock center %}