{% extends 'base.html' %}


{% block center %}
<style>
    .caixa {
        padding: 30px;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 0.026);
        box-shadow: 0 10px 15px rgba(154, 148, 148, 0.742);
        height: auto;
        max-width: 500px;
        margin: auto;
    }

    .card {
        width: 200px;
        height: 200px;
        border: 1px solid #ddd;
        border-radius: 40px;
        padding: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-inline: 40px;
        box-shadow: 0 10px 15px rgba(154, 148, 148, 0.742);
        background-color: transparent;
        display: flex;
        flex-direction: line;
        align-items: center;
        justify-content: center;
        transition: box-shadow 1s;
        background: linear-gradient(131deg, rgba(0, 0, 0, 0.1) 0%, rgba(67, 2, 172, 0.1) 100%);
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 20px;
    }
</style>
<div class="center">
    <div class="caixa">
        <h1>
            Projeto Finecap 2023
            <hr>

        </h1>
    </div>
    <div class="cards-container">
        <div class="card">
            <h3>
                Total de Reservas
                <hr>
                <p>{{ total_reserva }}</p>
            </h3>
        </div>
        <div class="card">
            <h3>
                Total de Stands
                <hr>
                <p>{{ total_stands }}</p>

            </h3>
        </div>
    </div>
</div>

<!-- <style>
    body a {
        color: inherit;
        text-decoration: none;
    }

    body a:hover {
        text-decoration: none;
    }

    h3,
    p {
        word-wrap: break-word;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 20px;
    }


    .card {
        width: 200px;
        height: 200px;
        flex: 0 0 200px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 20px;
        margin: 10px;
        box-shadow: 0 10px 15px rgba(154, 148, 148, 0.742);
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: box-shadow 1s;
        background: linear-gradient(131deg, rgba(0, 0, 0, 1) 0%, rgba(67, 2, 172, 0.8346988453584558) 100%);

    }

    .card:hover {
        box-shadow: 0 28px 30px rgba(67, 2, 172, 0.8346988453584558);
    }

    .card h3 {
        font-size: 1.2em;
        margin: 0;
        margin-bottom: 5px;

    }

    .card p {
        font-size: 16px;
        margin: 10px 0;
    }

    li {
        list-style-type: none;
        justify-content: space-around;
    }
</style>
 -->


<!-- <div class="cards-container">


    <div class="cards-container">
        <ul class="cards-list">
            <a href="{% url 'lista_reserva' %}">
                <li class="card">
                    <div>
                        <h3>Lista de Reservas</h3>
                        <hr>
                    </div>
                </li>
            </a>
            <a href="{% url 'lista_reserva' %}">
                <li class="card">
                    <div>
                        <h3>Lista de Stands</h3>
                        <hr>
                    </div>
                </li>
             </a>
        </ul>
    </div> 




</div> -->
{% endblock center %}