{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}
    Finecap 2023{% endblock title %}</title>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/basecss.css' %}">
</head>

<body>
  <script src="{% static 'js/basejs.js' %}"></script>
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <a id="len1" class="hoverable" href="{% url 'index' %}">
              <li>Inicio</li>
            </a>
            <a id="len2" class="hoverable" href="{% url 'lista_reserva' %}">
              <li>Lista de Reservas</li>
            </a>
            <a id="len3" class="hoverable" href="{% url 'cadastro' %}">
              <li>Reserve Seu Espaço</li>
            </a>
            <a id="len4" class="hoverable" href="{% url 'lista_stand' %}">
              <li>Lista de Stans</li>
            </a>
            <a id="len5" class="hoverable" href="{% url 'stand_form' %}">
              <li>Reserve Seu Stand</li>
            </a>

          </ul>
        </div>
      </nav>

  </header>
  <main>
    <div id="what-the-hell-is-this">
      <div class="page-title" style="color: white;">
        <h2>Sistema De Reservas</h2>
        <p class="lead">
          Sistema voltado para analise e cadastro nos stands da FINECAP 2023 <br />
        </p>
      </div>
    </div>
    </div>
    <div>
      <div class="mensagemcard">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div>

      {% block center %}

      {% endblock center %}

    </div>
  </main>
  <footer>

  </footer>
</body>

</html>